{% load static %}
<!-- tutorial-env\Scripts\activate.bat -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <title>Image Prediction</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
    <div style="display: flex; flex-direction: column;">
    <!-------------------- intro-part--------------------->
    <div class="title" >
      <div class="title-container">
        <h1>Peeking into the secrets of Cardiovascular Health</h1>
        <h2 style="margin: 10px;">A Faster RCNN Approach to CT Ratio Calculation and Cardiovascular Health Analysis.</h2>
          <div>
          <button class="index-button" id="scrollBtn" >Tell me more</button>
          <button  class='index-button' onclick="goToAnotherPage()">Get Started</button>
          </div>
      </div>
    </div>

    <div class="intro" id="intro-part">
      <h2>About</h2>
    <div class="intro-container">

      <ul class="timeline">
          <li class="timeline-container left">
            <div class="content">
          <h4>Automated CTR Prediction Tool</h4>
          <p>Developed a full-stack Django web application that automates Cardiothoracic Ratio (CTR) prediction, achieving 98.4% accuracy  using a Faster R-CNN model.</p>
          <div class="timeline-circle c1"></div>
          </div>
        </li>
        
          <li class="timeline-container right">
            <div class="content">
            <h4>Saving Time and Decreasing Human Error</h4>
            <div>Traditionally, measuring heart size on X-rays is done by hand. 
              This AI tool automates the process, reducing the time needed by <b>67%</b>—from one minute down to just 20 seconds—while 
              making the results more reliable for doctors.</div>
            <div class="timeline-circle c2 right" style="background-image: url('/static/background01.jpg');"></div>
          </div>
        </li>
      

      
          <li class="timeline-container left">
            <div class="content">
            <h4>Model Architecture</h4>
            <div>I implemented a <b>Faster R-CNN</b> framework utilizing a <b>ResNet backbone</b> to achieve superior feature extraction. This architecture accurately segments the heart and lungs to calculate the CT ratio and identify calcification in real-time.</div>
            <div class="timeline-circle c3"></div>
          </div>
        </li>
     

     
          <li class="timeline-container right">
            <div class="content">
            <h4>Aortic calcification</h4>
            <div>This tool also looks for <b>calcium buildup</b> (calcification) and gives a simple <b>Health Rank</b>. This helps doctors quickly see which patients need the most <b>urgent care</b>.</div>
            <div class="timeline-circle c4 right"></div>
          </div>
        </li>
  

    
          <li class="timeline-container left">
            <div class="content">
            <h4>This website provide</h4>
            <p> 1.Calculate patient’s CTR</p>
            <p> 2.Find the aortic part</p> 
            <p> 3.Assesthe severity of aortic calcification</p>
            <p> Application : Helped professionals save a lot of time from calculating CTR and analyze patients’ health conditions based on predictive results.</p>
            
            <div class="timeline-circle c5"></div>
          </div>
        </li>

      </ul>
      
      <div class="intro-left"> 
        <h4>How we get the CTR ?</h4>
        <iframe src="https://drive.google.com/file/d/1Qyq9aLQHdDRQ8kvCrqFeViqye0h-rzZR/preview" width="640" height="480" allow="autoplay"></iframe>
     </div> 
     
     <button  class='index-button' onclick="goToAnotherPage()">Get Started</button>

    </div>
  </div>  
    </div>
    </div> 


</body>
</html>

<script>
  const scrollBtn = document.querySelector('#scrollBtn');
  const targetDiv = document.querySelector('#intro-part'); //id

  scrollBtn.addEventListener('click', () => {
    targetDiv.scrollIntoView({ behavior: 'smooth' });
  });

  function goToAnotherPage() {
          window.location.href = "{% url 'predict' %}";
      }
</script>
